.List {
  padding: 10px;
}

.List-crossed {
  text-decoration: line-through;
  color: #808B96 !important;
}

.List-checkbox {
  width: 100%;
}

.List-item {
  padding: 5px 10px;
  margin: 5px auto;
  background: #eee;
  border-radius: 5px;
}

.List-input {
  font-size: 16px !important;
  width: 100%;
}

.List-button {
  font-size: 16px !important;
  width: 100%;
  padding: 13px 21px !important;
}

.List-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.List-header-input {
  width: calc(75% - 10px);
}

.List-header-button {
  width: 25%;
}
